@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

body{
	margin:0px;
	font-family: Roboto;
	color: #808080;
  height: 100%;
  position: relative;
}

nav{
	height: 60px;
	background-color: white;
	box-shadow: 0px 0px 1px; 
}
nav span{
  position: absolute;
	right:0px;
	margin-top:35px;
	margin-right:25px;
}

nav span a{
	cursor: pointer;
  text-decoration:none;
	padding: 5px;
  color:#800000;
}
nav a:hover{
	cursor: pointer;
	color:#800000; 
}

#vendor-link{
  position: absolute;
  right: 0px;
  margin-top:10px;
  float: right;
  margin-right:20px;
}

#vendor-link a{
  text-decoration:none;
  color: #808080;
}

#vendor-link a:hover{
  cursor: pointer;
  color:#800000;
}

nav #logo{
	margin-top:10px;
	margin-left: 20px;
}
footer{
  display: block;
	height: 200px;
  width: 100%;  
	background-color:#F5F5F5;
	box-shadow: 0px 0px -1px;
  position: inherit; 
}

#front{
  background-color: green;
}

#search-space{
  background-image: url("../images/s3.jpg");
  width: 100%;
  position: relative;
  height: 120px;
}

#vendors{
  display: inline-flex;
}


#filters{
  width: 20%;
}

#filter-applied{

}

.filter-box{
  width: 80%;
  position: relative;
  margin-left: 15px;
}

#ven-cards{
  width: 85%;
}
.modal button {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    font-weight:bold;
}

.modal button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #404040;
    color:  ;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


 .modal img{
  position: relative;
  width: 55%;
  height: 500px;
  margin-bottom: 0px;
}

.container {
    padding-top: 50px;    
    padding-right: 50px;
    width: 30%;
    float: right;
}

span .log_pass {
    text-decoration: none;
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 3;
}


.modal-content {
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    width: 70%;
    height: 500px;
    border-radius: 5px;
}

.buttons{
  color: #FFDF00;
}

.close {
    position: absolute;
    right: 15px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.log_pass{
        text-decoration: none;
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.group 			  { 
  position:relative; 
  margin-bottom:35px; 
}

.modal input 				{
  font-size:18px;
  padding:10px 5px 5px 5px;
  display:block;
  width:95%;
  border:none;
  border-bottom:1px solid #757575;
}
.modal input:focus 		{ outline:none; }

/* LABEL ======================================= */
.modal label 				 {
  color:  #800000; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.modal input:focus ~ label,.modal  input:valid ~ label 		{
  top:-15px;
  font-size:14px;
  color:  #800000;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #800000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.modal input:focus ~ .bar:before,.modal input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.modal input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#search{
  top: 250px;
  margin-left:22%;
  position: absolute;
  z-index: 2;
  width:65%;
  display: inline;
}
.search-container{
  width: 100%;
  height: 50px;
  display: inline;
}

input.search-bar{
  margin:-5px;
  width: 30%;
  height: 50px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
#search a{
  text-decoration:none;
}
.search-icon{
  position: relative;
  display: inline;
  background-color:   #800000;
  height: 50px; 
  width: 100%;
  color: white;
  margin-bottom: -2px;
  padding:15.5px 20px;
  border: 1px solid #D0CFCE;
  font-weight: bold;
  cursor: pointer;
}






#sampletext {
  position: relative; 
  font : italic bold 60px arial;
  color : #aaaaaa;
  margin-top : 200px;
}
#slideshow{
  width: 100%;
}
#slideshow img{
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  filter: grayscale(100%);
}

#slideshow > div { 
    position: relative;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}




*,
*::before,
*::after {
  box-sizing: border-box;
}

.cards img {
  
  width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards a{
  text-decoration: none;
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
   width: 100%;
   cursor: pointer;
}

.cards__item {
  display: flex;
  padding: 1rem;

}
@media (min-width: 20rem) {
   .cards__item {
    width: 100%;
  }
  .cards a{
    width: 100%; 
  }
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: gray;  
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

#home-search{
  margin-top: 40px;
  margin-left:25%;
  position: absolute;
  z-index: 2;
  width:65%;
  display: inline;
}
.home-search-container{
  width: 100%;
  height: 50px;
  display: inline;
}

input.home-search-bar{
  margin:-5px;
  width: 30%;
  height: 50px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
     }    
   }
 }
#home-search a{
  text-decoration:none;
}
.home-search-icon{
  position: relative;
  display: inline;
  background-color:   #800000;
  height: 48px; 
  width: 100%;
  color: white;
  margin-bottom: -2px;
  padding:15.5px 20px;
  border: 1px solid #D0CFCE;
  font-weight: bold;
  cursor: pointer;
}







.modal-vendor button {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    font-weight:bold;
}

.modal-vendor button:hover {
    opacity: 0.8;
}

.modal-vendor .cancelbtn {
    width: auto;
    padding: 10px 10px;
    background-color: #404040;
}

.modal-vendor .imgcontainer {
    text-align: center;
    margin: 12px 0 12px 0;
    position: relative;
}


 .modal-vendor img{
  position: relative;
  width: 55%;
  height: 500px;
  margin-bottom: 0px;
}

.modal-vendor .container {
    width: 100%;
}

.modal-vendor span .log_pass {
    text-decoration: none;
    float: right;
    padding-top: 16px;
}


.modal-vendor {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 3;
}


.modal-vendor-content {
    background-color:#800000;
    width: 100%;
    height: 500px;
    position: absolute;
    border-radius: 5px;
}

.modal-vendor .buttons{
  color: #FFDF00;
}

.modal-vendor .close {
    position: absolute;
    right: 15px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal-vendor .close:hover,.modal-vendor .close:focus {
    color: red;
    cursor: pointer;
}

.modal-vendor .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    .modal-vendor span.log_pass{
        text-decoration: none;
       display: block;
       float: none;
    }
    .modal-vendor .cancelbtn {
       width: 100%;
    }
}
